body {
   background-image: url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg)
}
.title-header {
   background: darkorange;
   color: white;
   font-size: 3.5vw;
   font-weight: bold;
   width: 30%;
   padding: 15px 0;
   margin: 5px;
}
.rules-box {
   background: tan;
   color: green;
   font-size: 16px;
   width: 50%;
   height: 300px;
   padding-top: 15px;
   margin: 5px;
}
.rules-box p {
   margin-bottom: 20px;
}
.target-number-box {
   background: green;
   font-size: 4vw;
   font-weight: bold;
   width: 25%;
   height: 100px;
   padding: 5px;
   margin: 5px;
   float: left;
}
.win-loss-box {
   background: yellow;
   font-size: 2vw;
   width: 10%;
   height: 100px;
   padding: 5px;
   margin: 5px;
}
.win-loss-box ul {
   margin-top: 15px;
}
.crystals-box {
   height: 75px;
   margin: 5px;
}
.crystal-btn {
   display: inline-block;
   background-image: url(../images/crystal.png);
   background-repeat: no-repeat;
   height: 100%;
   width: 75px;
   margin-right: 5px;
   cursor: pointer;
}
.score-header-box {
   background: blue;
   color: white;
   width: 25%;
   height: 20px;
   padding: 5px;
   margin: 5px;
   margin-bottom: 10px;
}
.user-score-box {
   background: blue;
   font-size: 4vw;
   color: white;
   width: 25%;
   height: 100px;
   padding: 5px;
   margin: 5px;
}
.in-line {
   display: inline-block;
}