.target-number-box {
   background: green;
   width: 200px;
   height: 100px;
}
.win-loss-box {
   background: yellow;
   padding: 40px;
   width: 30px;
}
.crystal-btn {
   background: blue;
   padding: 25px;
   margin-right: 5px;
}
.score-header-box {
   background: blue;
   width: 50px;
   padding: 5px;
}
.user-score-box {
   background: blue;
   width: 50px;
   padding: 25;
}
.inline {
   display: inline;
}